body {
    background-color: #121212;
    color: #ffa500;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

header {
    padding: 20px;
}

.avatar {
    width: 100px;
    border-radius: 50%;
}

h1 {
    font-size: 2em;
}

.projects {
    margin-top: 20px;
}

.project {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    margin: 10px auto;
    width: 80%;
}

.project-images {
    margin: 20px 0;
}

.project-images img {
    max-width: 100%;
    margin: 10px;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffa500;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff8c00;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  border: none; /* Убираем обводку у кнопки */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: #ff4500; /* Оранжевый цвет для hover */
}

.social-icon i {
  margin-right: 8px;
}
