<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="avatar.png" alt="Astat de Glebantiy" class="avatar">
        <h1>Astat de Glebantiy</h1>
    </header>
  <hr>
  <div class="content">
    {{ content }}
  </div>
    {% include footer.html %}
    <script>
    // Открытие модального окна и замена изображения на полное
    function openModal(img) {
      var modal = document.getElementById("myModal");
      var modalImg = document.getElementById("imgModal");
      var captionText = document.getElementById("caption");
      modal.style.display = "block";
      // Предполагается, что полная версия изображения без суффикса _thumb
      modalImg.src = img.src.replace('_thumb', '');
      captionText.innerHTML = img.alt;
    }
    // Закрытие модального окна
    function closeModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }
  </script>
</body>
</html>
